html 
    head 
        title Componentes visuales
        link(href="/css/reset.css" rel="stylesheet")
    body 
        nav(class="menu" id="menu-principal")  
            img(src="/img/boton-menu.svg" id="boton-menu" )
            ul(id="menu")
                li 
                    a(href="#") Inicio
                li  
                    a(href="#") Buscar 
                li 
                    a(href="#") Favoritos 
                li  
                    a(href="#") Carrito  

        h1 Componentes visuales
        p Es una página web donde vamos a desarrollar componentes
        ul(id="productos")
        ul(id="detalle")
        
        
        script(src="/js/codexLuis.js" )