doctype html
html
  head
    title= titulo
    link(rel="stylesheet", href="/css/reset.css")
    link(rel="stylesheet", href="/css/general.css")
  body
    h1= titulo
    section(id="container")
    script(src="/js/codex.js") 