doctype html 
html    
    head 
        meta(charset="UTF-8")
        title Navegación usando Express y Pug
       

    body 
        h1 Contacto
        nav 
            ul 
                li: a(href="/") Inicio
        

        block content
        script(src="/js/formulario.js") 
        script(src="/js/codex.js") 