doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
    script(src="/js/productos.js")
    script(src="/js/miBoton.js")
    script(src="/js/miFormulario.js")

    ul#lista-articulos
    script(src="/js/listaProductos.js")

    script(src="/js/ventanaModal.js")