doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/reset.css")
        link(rel="stylesheet", href="/css/general.css")
        link(rel="stylesheet", href="/css/estilosEj5.css")
        title Preparación para examen
        
    body 
    h1 Preguntas de práctica – Nuevos componentes

    h2 Sección 1: Tarjeta Usuario


    script(src="/js/ejercicio1.js") 

    h2 Sección 2: Galería de Imágenes Dinámica
    script(src="/js/ejercicio2.js") 

    h2 Sección 3: Formulario Dinámico
    script(src="/js/ejercicio3.js") 

    h2 Sección 4: 
    script(src="/js/ejercicio4.js") 

    h2 Sección 4: Lista de Nombres
    script(src="/js/ejercicio4.js") 

    h2 Sección 5: Catálogo de Videojuegos Interactivo
    ul(id="juegos")
    script(src="/js/ejercicio5.js") 