:root{
/*COLORES*/
--principal: #6618F5;
--secundario:#F5EAB8;
--enfasis: #69E52E;
--enfasis2:#C0F518;

/*Medidas*/
--uni:clamp(18px,1.5vw,40px);

/*Fuentes*/
--fuente-principal: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
--fuente-mono:'Consolas','Courier New', Courier, monospace;

}


body{
  font-family:var(--fuente-principal);
  font-size:var(--uni);
  line-height: calc(var(--uni) * 1.6);
  background-color: var(--secundario);color:var(--principal)
}
h1{
font-size: calc(var(--uni) * 3);
}
h2{
font-size: calc(var(--uni) * 2.5);
}
h3{fv
font-size: calc(var(--uni) * 2);
}
p{
  margin-bottom:calc(var(--uni) * 0.6) ;
}
code{
  font-family:var(--fuente-mono);
}
