doctype html
html
  head
    title Productos
    link(rel="stylesheet", href="/css/reset.css")
    link(rel="stylesheet", href="/css/general.css")
    link(rel="stylesheet", href="/css/estilosProductos.css")
  body
    h1 Lista de productos
    ul#productos
    script(src="/js/productos.js")

    h1 Ejemplo de botones con JS
    script(src="/js/botones.js")

    h1 Crear formulario con JS
    script(src="/js/formulario.js")

    h1 Ejemplo de Ventana Modal
    script(src="/js/ventanaModal.js")